@charset "UTF-8";

body{
	background-color: #f7efe3;
}

header {
	height: 130px;
	background-color: #fdc435;
}

.logo-header {
	display:flex;
	justify-content:center;
}

.stripe-container {
	height: 20px;
	background-image:url('../img/stripe.png');
}

.grid-container{
	 width:900px;
	 margin: auto;
	 margin-top: 30px;
	 margin-bottom: 20px;
	 display: grid;
     grid-template-columns: repeat(4, 1fr);
	 gap: 30px;
}

.grid-item {
	width:200px;
	height:100px;
	background-color: #fdc435;
	border-radius: 10px;
	text-align:center;
}

input {
	width:150px;
	margin-top:20px;
	text-align:center;
	border:none; 
	background-color:transparent;
	font-size: 18px;
	font-weight: bold;
}

.status-select {
	width:150px;
	margin-top:20px;
	text-align:center;
	border:none; 
	background-color:transparent;
	font-size: 18px;
	font-weight: bold;
}

.alert-container {
	display: flex;
	margin-left: 300px;
	margin-top: 50px;
	gap:60px;
}

.function-container {
	width:1200px;
	margin-left: 300px;
}

.function-menu {
	display:flex;
	gap:30px;
}

.function-menu img {
	width:250px;
	height:200px;
}


footer {
	height: 140px;
	background-color: #fdc435;
	margin-top:100px;
}

h1 {
	text-align:center;
}
h3 {
	text-align:center;
	font-size:25px;
	margin-right: 80px;
}

.status-select:disabled {
  color: #000; 
  opacity: 1; 

}


