@charset "UTF-8";

body {
  background-color: #f7efe3;
}

header {
	height: 130px;
	background-color: #fdc435;
}

.logo-header {
	display:flex;
	justify-content:center;
}

.stripe-container {
	height: 20px;
	background-image:url('../img/stripe.png');
}

form {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
}

h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: bold;
}

.lifehack-title,
.lifehack-explanation {
  margin-bottom: 20px;
}

label.label-lifehack{
  
  margin-bottom: 8px;
  display: inline-block;
}

input[type="text"],
textarea{
  width: 100%;
  padding: 12px;
  border: 2px solid #333;
  border-radius: 10px;
  font-size: 16px;
  background-color: #fffaf0;
  box-sizing: border-box;
}

textarea {
  height: 150px;
  resize: vertical;
}

input[type="file"] {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  
}

input[type="submit"] {
  all: unset;
  background-color: #0070c0;
  color: white;
  border-radius: 5px;
  padding: 6px 10px;
  width: 80px;
  text-align: center;
  display: block;
  font-weight: bold;
  cursor: pointer;
  margin: 20px auto;
}

footer {
  height: 140px;
  background-color: #fdc435;
  margin-top: 100px;
  display: flex;
  justify-content: center;  /* h3 を中央に */
  align-items: center;
  position: relative;
}

.footertitle {
  font-size: 25px;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}