@charset "UTF-8";

/* bodyタグ */
body {
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   background-color: #fdc435;
   font-size: 20px;
}

.login-frame{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
h2{
	margin-top: 50px;
	
}
.login-box{
	display: flex;
	background-color: #f7efe3;
	padding: 40px;
	border-radius: 10px; /*角丸くしてる*/
}

.left img.MamoSona{
	width: 200px;
	margin-right: 100px;
	margin-top: 100px;
}

.right{
	display: flex;
	flex-direction: column;
	justify-content: center;
}



.form-group{
	margin-bottom: 30px;
	margin-top: 30px;
	
}

.underline{
	border: none;
	border-bottom: 2px solid #0070c0;
	background-color: #f7efe3
}

.login-button{
	background-color: #0070c0;
	color: white;
	border-radius: 10px;
	border:none;
	font-size: 20px;
	padding: 8px 16px;
	
}

.link-box a{
	color: #f58077;
}

/* ライフハック */

body.lifehacklist {
	background-color: #f7efe3;
}

header {
	height: 140px;
	background-color: #fdc435;
}

#logo-img {
	position: relative;
	top: 10px;
	left:600px;
}
	


h2{
	text-align: center;
	font-size: 40px;
}
.button{
	display: flex;
	padding: 10px 20px;
	gap: 10px;
	border-radius: 10px;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

.request-button{
	background-color:#f58077;
	color: white;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px 20px;
	margin-left: 20px;
}

.favorite-button{
	background-color:#0070c0;
	color: white;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px 20px;
	margin-left: 20px;
}

.search-box{
	display: flex;
	justify-content: flex-end;
	margin: 10px 20px;
}
.search-form{
	display: flex;
	align-items: center;
	border-radius: 20px;
	padding: 10px 20px;
	border: 2px solid #aaa;
	background-color: #f7efe3;	
}
.search-input{
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 15px;
	outline: none;
	background-color: #f7efe3;
}
.search-button{
	background: none;
	border: none;
	cursor: pointer;
	margin-left: 8px;
}
.search-icon{
	width: 40px;
	height: 40px;
}

.favorite-mark{
	background-color: none;
	border: none;
	font-size: 20px;
	cursor: pointer;
	color: #ccc;
}	
.favorite-mark.active{
	color: hotpink;
}
.lifehack-article{
	display: flex;
	gap: 20px;
	justify-content: center;
    flex-wrap: wrap;
}

.article-1{
	background-color:white;
	border-radius: 10px;
	padding: 20px;
	width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.picture-1{
	width: 220px;
	border-radius: 10px;
	margin-bottom: 10px;
}
.title-1{
	font-weight: bold;
	font-size: 20px;
	margin: 8px 0;
}
.text-1{
	font-size: 16px;
	margin-bottom: 10px;
}

.article-2{
	background-color:white;
	border-radius: 10px;
	padding: 20px;
	width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.picture-2{
	width: 220px;
	border-radius: 10px;
	margin-bottom: 10px;
}
.title-2{
	font-weight: bold;
	font-size: 20px;
	margin: 8px 0;
}
.text-2{
	font-size: 16px;
	margin-bottom: 10px;
}

.article-3{
	background-color:white;
	border-radius: 10px;
	padding: 20px;
	width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.picture-3{
	width: 220px;
	border-radius: 10px;
	margin-bottom: 10px;
}
.title-3{
	font-weight: bold;
	font-size: 20px;
	margin: 8px 0;
}
.text-3{
	font-size: 16px;
	margin-bottom: 10px;
}

footer {
	height: 140px;
	background-color: #fdc435;
}
footer h3 {
	position:relative;
	top:50px;
	left:650px;
}

